/* styles.css */

.root {
    -fx-background-image: url("Obat.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.label, .text-field, .button, .label-result {
    -fx-font-family: "Roboto Light";
}

.label, .text-field {
    -fx-font-size: 14px;
}

.text-field {
    -fx-pref-width: 200px; /* Lebar TextField */
}

.button {
    -fx-font-size: 14px;
}

.label-result {
    -fx-font-size: 16px;
    -fx-text-fill: #006400; /* Warna teks hijau */
}
